.question {
  background: #fefefe;
  border-radius: 9px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;
  &.dark {
    background: #202024;
    p {
      color: #e2e2e2;
    }
  }

  &.highlighted-light {
    background: #dfd3ff;
    border: 1px solid #835afd;
  }

  &.highlighted-dark {
    background: #160f29;
    border: 1px solid #835afd;
  }

  &.answered-light {
    background: #dbdcdd;
    p {
      color: #91919e;
    }

    .check-img {
      path {
        stroke: #835afd;
      }
      circle {
        stroke: #835afd;
      }
    }
    footer .user-info {
      span {
        color: #91919e;
      }
      img {
        filter: brightness(0.7);
      }
    }
  }
  &.answered-dark {
    background: #111114;
    p {
      color: #34343b;
    }
    .check-img {
      path {
        stroke: #835afd;
      }
      circle {
        stroke: #835afd;
      }
    }
    footer .user-info {
      span {
        color: #34343b;
      }
      img {
        filter: brightness(0.5);
      }
    }
  }

  & + .question {
    margin-top: 8px;
  }

  p {
    color: #29292e;
    font-weight: 700;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 10px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }
      .like-img {
        margin: 0 0 1px 5px;
      }
      .delete-img:hover {
        path {
          stroke: #ea4335;
          transition: stroke 0.2s;
        }
      }

      &:hover {
        filter: brightness(0.7);
        transition: filter 0.2s;
      }
    }
  }
}
