.room-code {
  &.dark {
    .room-code {
      background: rgb(47, 47, 47);
      > span {
        color: #e2e2e2;
      }
    }
  }
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #8359fd;
  cursor: pointer;
  display: flex;

  div {
    background: #8359fd;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    color: rgb(47, 47, 47);
    padding: 0 16px 0 12px;
    width: 220px;
    font-size: 14px;
    font-weight: 500;
  }
}
