.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #835afd;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 25% auto;
  animation: spin 1s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
